@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Varela+Round&display=swap");

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: 0.3s background-color;
}

:root {
    --bg: #ebd4cb;
    --dark-primary: #890620;
    --light-primary: #b6465f;
    --blackish: #2c0703;
    font-size: 100%;
}

body {
    background-color: yellow;
    background-color: var(--bg);
    font-size: 100%;
    font-family: "Varela Round", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

main {
    padding: 1rem;
    width: 96%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 7rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    background: radial-gradient(
            circle at 75% -10%,
            #da9f93,
            rgba(82, 45, 0, 0) 50%
        ),
        radial-gradient(circle at 50% 130%, #890620, rgba(117, 0, 43, 0) 50%),
        radial-gradient(circle at 20% 50%, #b6465f, rgba(255, 0, 0, 0) 40%),
        #2c0703;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

footer {
    background-color: var(--blackish);
    color: var(--bg);
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 5rem;
}

.input_container {
    display: flex;
    margin: 0.5rem 0;
    max-width: 700px;
}

.input_container > * {
    flex: 4;
}

.input_container > label {
    flex: 1;
}

.checkbox_container {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.checkbox_container > label {
    white-space: nowrap;
    margin: 0 1em 0.5em 0;
    flex: 0;
}

legend {
    font-weight: bold;
    padding: 0.5em 1em;
    color: var(--dark-primary);
}

fieldset {
    margin: 0.5rem 0;
    border: medium dashed var(--light-primary);
}

input[type="submit"],
.button {
    background-color: orange;
    background-color: var(--dark-primary);
    padding: 0.5em;
    font-size: 1.2rem;
    color: #fff;
    outline: none;
    border: 0;
    font-family: inherit;
}

input[type="submit"]:hover,
.button:hover {
    cursor: pointer;
    background-color: var(--light-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chelsea Market", cursive;
}

*:not(header) > h1 {
    color: var(--dark-primary);
    border-left: 0.5rem solid var(--dark-primary);
    padding-left: 1.5rem;
    line-height: 1;
}

header > h1 {
    color: #fefefe;
    font-size: 3rem;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
}

.error {
    color: #f95738;
}

a {
    text-decoration: none;
}

main table {
    width: 100%;
}

main table td {
    padding: 0.3rem 0.5rem;
}

main table th {
    background-color: var(--light-primary);
    color: #fefefe;
    padding: 0.5rem;
    font-size: 1rem;
}

.faketablerow {
    background-color: var(--dark-primary);
    font-size: 1.2rem;
    color: #fefefe;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
}
.scrollable + .faketablerow {
    margin-top: 2rem;
}

main table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

main table tr:nth-child(odd) {
    background-color: rgba(182, 70, 95, 0.1);
}

@media screen and (max-width: 60em) {
    .input_container:not(.checkbox_container) {
        flex-direction: column;
    }

    .scrollable {
        overflow-x: auto;
    }

    table td {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 50em) {
    .checkbox_container > label {
        flex-basis: calc(33% - 1em);
    }
}

@media only screen and (max-width: 25em) {
    .checkbox_container > label {
        flex: 100%;
    }

    input[type="submit"],
    .button {
        display: block;
        margin: 1rem auto;
    }
}
